* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


:root {
    --color-blue: #335896;
    --color-white: #fff;
    --color-gold: #f4b94d;
    --container-width-lg: 80%;

    /* --color-bg2: rgb(17, 60, 99);
    --color-bgf: #232c58;
    --color-success: #298870;
    --color-warning: #f7c94b;
    --color-danger: #dd321b;

    --color-white: #fbeaeb;
    --color-light: #rgba(255, 255, 255, 0.7);
    --color-black: #000;
  
    --container-width-md: 90%;
    --contain-width-sm: 94%;
    --transition: all 400ms ease;*/
}


body {
    font-family: 'poppins', 'Montserrat';
    line-height: 1.7;
    overflow: hidden;
    /*  color: var(--color-blue);
    background: var(--color-white);*/
}


.btn {
    display: inline-block;
    background: var(--color-gold);
    color: var(--color-white);
    padding: 0.5rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
    border-radius: 25px;
}

.btn:hover {
    background: transparent;
    color: var(--color-gold);
    border-color: var(--color-gold);
}


.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

/*----------------NAV STYLING-----------------------------------*/
.logo {
    width: 140px;
}

nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}


/* change navbar styles on scroll using javascript*/
.window-scroll {
    background: var(--color-gold);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav_menu {
    display: flex;
    align-items: center;
    gap: 4rem;

}


.nav_menu li a {
    color: var(--color-white);
}

.nav_menu a {
    font-size: 0.9rem;
    transition: var(--color-white);
    font-weight: 500;
}

.nav_menu a:hover {
    color: var(--color-gold);
}


/*HEADER STYLING*/
header {
    height: 70vh;
    width: 100%;
    position: relative;
    background: url('../img/hero-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    /*border-radius: 0 0 150px 150px;*/
}

.header-note {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 900px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--color-white);

}

span {
    color: var(--color-gold);
}


.search-bar {
    display: flex;
    position: absolute;
    left: 50%;
    top: 90%;
    width: 800px;
    height: 120px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--color-white);
    background: pink;
    border-radius: 10px;

}

.search-bar h1 .search-bar form {
    background: var(--color-white);
    padding: 10px;
    border-radius: 8px;
    display: flex;
}

.search-bar form input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 20px;
    height: 70px;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-bar form button {
    background: var(--color-gold);
    color: var(--color-white);
    padding: 20px 50px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

section {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 3rem 8rem;

}

.services {
    color: var(--color-blue);
    font-weight: 600;
}

.icons-img {
    width: 90px;
}





/*===============CONTACT & ABOUT PAGE STYLING====================*/

.contact {
    color: var(--color-blue);
}

.about {
    color: var(--color-blue);
}